export DECK_SIZE=20
export TAGS='candice'
export QUESTION_TYPE="selection"
source .envrc.deck_index
source .envrc.candice.secret
export SELECTION_QUESTION_ANSWERNUM=4
export MONGO_URL="mongodb+srv://candice:$CANDICE_MONGO_PASS@cluster0.ekvoe.gcp.mongodb.net/test"
